.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 form{
   width: 40%;
   margin: auto;
   background-color: rgb(224, 235, 235);
   line-height: 15px;
   display: flex;
   flex-direction: column;
   padding:20px 40px;
   box-shadow:10px 10px 40px grey ;
    margin-top: 30px;
    text-align: center;
 }

 